<!doctype html>
    <title>Upload new File</title>
    <h1>Delete Files</h1>
    <form action="" method=post name="2" enctype=multipart/form-data>
        <div>
            <label for="username">Admin Name :</label>
            <input type="text" id="username" name="username">
        </div>
        
        <div>
            <label for="pass">Password (8 characters minimum):</label>
            <input type="password" id="pass" name="password"
                minlength="8" required>
        </div>
        
            <input type="submit" value="Sign In">
    </form> 